@import url("https://fonts.googleapis.com/css2?family=Antic+Didone&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  padding: 0px;
  margin: 0px;
}

body {
  font-size: 14px;
  color: #333;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "Telugu MN";
  src: url(../fonts/Telugu\ MN.ttc);
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

a,
a:hover {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li,
ol {
  list-style: none;
}

button:focus {
  outline: none !important;
}

h1 {
  color: #253647;
  font-family: "Antic Didone";
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
}

h2 {
  font-family: "Telugu MN";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  color: #325496;
}

p {
  color: #466688;
  font-family: "Inria Serif";
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.btn {
  color: #405D7B;
  font-family: "Telugu MN";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  padding: 0;
  transition: all 0.4s;
  border-bottom: 1px solid #405D7B;
  border-radius: 0;
}
.btn:focus {
  box-shadow: none;
}
.btn:hover {
  color: #405D7B;
}

header {
  background-color: #fff;
}
header .menu-area .totl_head {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .menu-area .totl_head .main-logo {
  max-width: 104px;
}
header .menu-area .totl_head .main_links {
  width: calc(100% - 772px);
}
header .menu-area .totl_head .main_links #navigation ul {
  display: flex;
  align-items: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
  position: relative;
}
header .menu-area .totl_head .main_links #navigation ul li a {
  color: #39536E;
  font-family: "Telugu MN";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding: 25px 0;
}
header .menu-area .totl_head .main_links #navigation ul li.drpdwn {
  transition: all ease 0.4s;
  position: relative;
}
header .menu-area .totl_head .main_links #navigation ul li.drpdwn > a {
  position: relative;
}
header .menu-area .totl_head .main_links #navigation ul li.drpdwn > a::before {
  content: "";
  position: absolute;
  background-image: url(../images/drp-arrw.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 10px;
  height: 10px;
  top: 30px;
  right: -16px;
}
header .menu-area .totl_head .main_links #navigation ul li.drpdwn:hover > a::before {
  rotate: 180deg;
}
header .menu-area .totl_head .main_links #navigation ul li.drpdwn:hover .drpdwn_cntnt {
  opacity: 1;
  visibility: visible;
}
header .menu-area .totl_head .main_links #navigation ul li.drpdwn .drpdwn_cntnt {
  position: absolute;
  background: rgba(239, 235, 235, 0.699);
  width: 180px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all ease 0.5s;
  padding: 16px 0;
  top: 52px;
  left: 0;
  display: flex;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
  align-items: baseline;
  flex-direction: column;
}
header .menu-area .totl_head .main_links #navigation ul li.drpdwn .drpdwn_cntnt li {
  width: 100%;
}
header .menu-area .totl_head .main_links #navigation ul li.drpdwn .drpdwn_cntnt li a {
  color: #39536E;
  font-family: "Telugu MN";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  width: 100%;
  display: inline-block;
  padding: 5px 10px;
}

.hero_bnnr {
  position: relative;
}
.hero_bnnr img {
  width: 100%;
}
.hero_bnnr .top_text_div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 238px 0 319px;
  position: absolute;
  top: 0;
  left: 0;
}
.hero_bnnr .top_text_div p {
  color: #39536E;
  font-family: "Telugu MN";
  font-size: 24px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 20px;
}
.hero_bnnr .top_text_div h1 {
  max-width: 945px;
}
.hero_bnnr.innr_bnr h2 {
  margin-bottom: 22px;
  line-height: 28px;
}
.hero_bnnr.innr_bnr ul.brdcamp {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  -moz-column-gap: 28px;
       column-gap: 28px;
}
.hero_bnnr.innr_bnr ul.brdcamp li {
  color: #405D7B;
  font-family: "Telugu MN";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
}
.hero_bnnr.innr_bnr ul.brdcamp li::before {
  content: "";
  position: absolute;
  top: 7px;
  right: -19px;
  background-image: url(../images/right-arrw.svg);
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
}
.hero_bnnr.innr_bnr ul.brdcamp li:last-child::before {
  display: none;
}
.hero_bnnr.innr_bnr ul.brdcamp li a {
  color: #405D7B;
}

.sec_2 {
  padding: 60px 0 27px;
}
.sec_2 h2 {
  line-height: 40px;
}
.sec_2 .row {
  margin-top: 40px;
}
.sec_2 .row .card {
  background-color: #fff;
  border-radius: 0;
  border: none;
  height: 100%;
}
.sec_2 .row .card .img {
  background-color: #faf6f3;
  padding: 35px 28px 35px 27px;
}
.sec_2 .row .card .img img {
  width: 100%;
}
.sec_2 .row .card .txt {
  margin-top: 24px;
  text-align: center;
}
.sec_2 .row .card .txt h3 {
  color: #39536E;
  font-family: "Telugu MN";
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 12px;
}
.sec_2 .row .card .txt p {
  letter-spacing: -0.32px;
  margin-bottom: 0;
}

.sec_3 .side_bnr {
  background-color: #F2E7DA;
  position: relative;
  width: 100%;
  height: 100%;
}
.sec_3 .side_bnr .side_img {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
}
.sec_3 .side_bnr .top_txt {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-left: 90px;
  display: flex;
  align-items: center;
}
.sec_3 .side_bnr .top_txt h2 {
  max-width: 417px;
  margin-bottom: 0;
  line-height: 32px;
}
.sec_3 .side_bnr .top_txt p {
  margin: 20px 0;
}
.sec_3 .sbscr {
  text-align: center;
  padding-top: 59px;
  background-color: #F2E7DA;
}
.sec_3 .sbscr h2 {
  margin-bottom: 0;
  line-height: 30px;
}
.sec_3 .sbscr p {
  margin: 20px 0;
}
.sec_3 .sbscr img {
  margin-top: 46px;
}

.commision {
  padding-top: 60px;
}
.commision .row {
  row-gap: 40px;
}
.commision .col-12 h2 {
  margin-bottom: 16px;
  text-align: center;
  line-height: 35px;
}
.commision .col-12 p {
  text-align: center;
  color: #405D7B;
  font-weight: 700;
  max-width: 956px;
  margin: auto;
}
.commision .row {
  margin-top: 40px;
}
.commision .row .card {
  background-color: #fff;
  border-radius: 0;
  border: none;
  text-align: center;
}
.commision .row .card img {
  width: 100%;
  margin-bottom: 16px;
}
.commision .row .card p {
  margin-bottom: 0;
}

.homeblog {
  padding-top: 72px;
}
.blog h2 {
  margin-bottom: 16px;
  text-align: center;
  line-height: 30px;
}
.blog p {
  text-align: center;
  margin-bottom: 0;
}
.blog .row {
  margin-top: 40px;
}
.blog .row .card {
  background-color: #fff;
  border-radius: 0;
  border: none;
}
.blog .row .card img {
  width: 100%;
}
.blog .row .card .txt {
  margin-top: 20px;
}
.blog .row .card .txt h4 {
  margin-bottom: 12px;
  color: #405D7B;
  font-family: "Inria Serif";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

footer {
  background-color: #f5f5f6;
  width: 100%;
  padding: 43px 0 31px;
  margin-top: 59px;
}
footer .sbcrb {
  margin-bottom: 15px;
}
footer .sbcrb h2 {
  text-align: center;
  margin-bottom: 20px;
  line-height: 29px;
}
footer .sbcrb form {
  position: relative;
}
footer .sbcrb form .form-control {
  width: 100%;
  border-radius: 50px;
  border: 1px solid #B4B4B4;
  background-color: #fff;
  padding: 16px 9px 18px 19px;
  color: #000;
  font-family: "Inria Serif";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .sbcrb form .form-control:focus {
  box-shadow: none;
}
footer .sbcrb form .form-control::-moz-placeholder {
  color: #466688;
  font-family: "Inria Serif";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .sbcrb form .form-control::placeholder {
  color: #466688;
  font-family: "Inria Serif";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .sbcrb form .btn {
  position: absolute;
  right: 35px;
  top: 21px;
}
footer .logo {
  width: 203px;
}
footer ul.scl {
  display: flex;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
footer ul.scl li a {
  width: 41px;
  height: 41px;
  border: 1px solid #405D7B;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer ul.scl li a img {
  width: 24px;
  height: 24px;
}
footer ul.pge_links {
  display: flex;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  justify-content: center;
}
footer ul.pge_links li a {
  color: #39536E;
  font-family: "Telugu MN";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
footer .row:last-child {
  padding-top: 48px;
  border-top: 1px solid rgba(57, 83, 110, 0.6);
}
footer .row:last-child .col-lg-3 {
  padding: 0;
}
footer .row:last-child p {
  color: #39536E;
  font-family: "Inria Serif";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
}
footer .row:last-child ul {
  display: flex;
  align-items: center;
  -moz-column-gap: 23px;
       column-gap: 23px;
  justify-content: flex-end;
}
footer .row:last-child ul li a {
  color: #39536E;
  font-family: "Inria Serif";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.gallery {
  padding-top: 60px;
}
.gallery .row {
  row-gap: 40px;
}
.gallery .col-lg-3 {
  padding: 0 15px;
}
.gallery .col-lg-3 img {
  width: 100%;
}
.gallery .col-lg-4 img {
  width: 100%;
}
.gallery.abstrt .row {
  justify-content: center;
}
.gallery.abstrt .col-lg-6 {
  padding: 0 15px;
}
.gallery.abstrt .col-lg-6 img {
  width: 100%;
}

.blog_post {
  padding-top: 60px;
}
.blog_post .row {
  row-gap: 30px;
}
.blog_post .row:last-child {
  margin-top: 30px;
}
.blog_post .card {
  background-color: #fff;
  border-radius: 0;
  border: none;
}
.blog_post .card img {
  width: 100%;
}
.blog_post .card .txt {
  margin-top: 20px;
}
.blog_post .card .txt h4 {
  color: #39536E;
  font-family: "Inria Serif";
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 12px;
}
.blog_post ul.pegination {
  display: flex;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.blog_post ul.pegination li a {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  border: 1px solid #EBE4DE;
  transition: all 0.4s;
  color: #39536E;
  font-family: Lato;
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog_post ul.pegination li a:hover {
  background-color: #EBE4DE;
}
.blog_post ul.pegination li:last-child {
  background-image: url(../images/double-arrw.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.4s;
}

.blg_txt {
  padding-top: 60px;
}
.blg_txt .txt h2 {
  line-height: 27px;
  margin-bottom: 16px;
}
.blg_txt .txt h5 {
  color: #405D7B;
  font-family: "Telugu MN";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: lowercase;
  margin-bottom: 20px;
}
.blg_txt .txt p {
  color: #466688;
  font-family: "Inria Serif";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 28px;
}
.blg_txt .txt p:last-child {
  margin-bottom: 20px;
}
.blg_txt .img_dv {
  text-align: end;
  position: relative;
}
.blg_txt .img_dv .sml_img {
  position: absolute;
  bottom: -210px;
  left: 0;
}

.blg_detls {
  padding-top: 60px;
}
.blg_detls h2 {
  line-height: 29px;
  margin-bottom: 48px;
  font-size: 27px;
  color: #405D7B;
  text-transform: capitalize;
}
.blg_detls .dtl {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.blg_detls .dtl img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.blg_detls .dtl .txt p {
  color: #405D7B;
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 0;
}
.blg_detls .dtl .txt ul {
  display: flex;
  -moz-column-gap: 23px;
       column-gap: 23px;
  align-items: center;
  padding: 3px 0;
}
.blg_detls .dtl .txt ul li {
  color: #405D7B;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  position: relative;
}
.blg_detls .dtl .txt ul li::before {
  content: ".";
  position: absolute;
  font-size: 37px;
  color: #405D7B;
  top: 1px;
  left: -15px;
  line-height: 0;
}
.blg_detls .dtl .txt ul li:first-child::before {
  display: none;
}
.blg_detls .scl_shr {
  margin-top: 40px;
}
.blg_detls .scl_shr h5 {
  color: #405D7B;
  font-family: "Inria Serif";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 16px;
}
.blg_detls .scl_shr ul.shre {
  display: flex;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.blg_detls .scl_shr ul.shre li a {
  width: 41px;
  height: 41px;
  border: 1px solid #405D7B;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blg_detls .scl_shr ul.shre li a img {
  width: 24px;
  height: 24px;
}
.blg_detls .dtl_txt {
  margin-top: 30px;
}
.blg_detls .dtl_txt h6 {
  margin-bottom: 20px;
  color: #39536E;
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
  font-family: "Inria Serif";
}
.blg_detls .dtl_txt p {
  color: #39536E;
  font-family: "Inria Serif";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 27px */
  margin-bottom: 0;
}
.blg_detls .dtl_txt p:first-child {
  margin-bottom: 16px;
}
.blg_detls .dtl_txt p:last-child {
  margin-bottom: 0;
}
.blg_detls .dtl_txt p:nth-child(3), .blg_detls .dtl_txt p:nth-child(5) {
  padding: 20px 0 16px;
}

.prlr_blg {
  padding-top: 60px;
}
.prlr_blg .card {
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.prlr_blg .card img {
  width: 100%;
}
.prlr_blg .card .txt {
  margin-top: 20px;
}
.prlr_blg .card .txt h4 {
  color: #405D7B;
  font-family: "Inria Serif";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 12px;
}

.contact-us {
  padding: 60px 0;
}
.contact-us h3 {
  color: #325496;
  /* Heading 32 */
  font-family: "Telugu MN";
  font-size: 32px;
  line-height: 36px;
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 0;
}
.contact-us p {
  color: #466688;
  font-family: "Inria Serif";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  margin-bottom: 24px;
}
.contact-us .inputcontainer {
  border: 1px solid #325496;
  background: #f3efea;
  margin-bottom: 28px;
  color: #325496;
  font-family: "Inria Serif";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.contact-us .inputcontainer input[type=text],
.contact-us .inputcontainer input[type=email],
.contact-us .inputcontainer input[type=tel] {
  width: 100%;
  padding: 10px;
  border: none;
  background: transparent;
}
.contact-us .inputcontainer textarea {
  width: 100%;
  padding: 10px;
  border: none;
  background: transparent;
  height: 100%;
  height: 133px;
  resize: none;
}
.contact-us input[type=submit] {
  color: #405d7b;
  font-family: "Telugu MN";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  background: transparent;
  line-height: 21px;
}

.contact-row {
  padding-bottom: 0px;
}
.contact-row .cnrowinner {
  padding: 54px 30px;
  background-size: cover !important;
}
.contact-row .cnrowinner ul {
  display: flex;
  justify-content: space-between;
}
.contact-row .cnrowinner ul li h4 {
  color: #395363;
  font-family: "Inria Serif";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}
.contact-row .cnrowinner ul li a {
  color: #395363;
  font-family: "Inria Serif";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact-row .cnrowinner ul li a img {
  margin-right: 10px;
}
.contact-row .cnrowinner ul li:last-child a span {
  display: inline-block;
  border-bottom: 1px solid #395363;
}

.about {
  padding-top: 60px;
}
.about .abt-top h3 {
  color: #39536e;
  color: #39536e;
  text-align: center;
  font-family: "Telugu MN";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about .abt-top p {
  color: #405d7b;
  text-align: center;
  font-family: "Inria Serif";
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: 135%; /* 32.4px */
  text-transform: capitalize;
  max-width: 610px;
  margin: 0 auto;
}
.about .abt-top p span {
  position: absolute;
}
.about .abt-mid {
  padding: 60px 0;
}
.about .abt-mid p {
  margin-bottom: 30px;
  color: #466688;
  font-family: "Inria Serif";
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
  line-height: 150%;
}
.about .abt-mid p:last-child {
  margin-bottom: 0;
}
.about .abt-btm {
  padding: 30px 38px;
  border-radius: 12px;
  background: rgba(255, 236, 236, 0.5);
  position: relative;
  margin-bottom: 60px;
}
.about .abt-btm .quotes {
  position: absolute;
  width: 46px;
  height: 46px;
}
.about .abt-btm .quotes.quotes-1 {
  left: 48px;
  top: -22px;
}
.about .abt-btm .quotes.quotes-2 {
  right: 270px;
  bottom: -21px;
}
.about .abt-btm p {
  color: #405d7b;
  text-align: center;
  font-family: "Inria Serif";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 27px */
  margin-bottom: 20px;
}
.about .abt-btm p:last-child {
  margin-bottom: 0;
}
.about .abt-gallery {
  padding-bottom: 0;
}
.about .abt-gallery .w40 {
  width: 40%;
}
.about .abt-gallery .w60 {
  width: 60%;
}
.about .abt-gallery .midalign {
  justify-content: center;
  display: flex;
  align-items: center;
}
.about .abt-gallery .link {
  color: #39536e;
  font-family: "Inria Serif";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
.about .abt-gallery .gap20 {
  display: flex;
  gap: 20px;
  flex-direction: column;
}/*# sourceMappingURL=style.css.map */